# LocalStack 

volume/

# dbt 

logs/
target/
dbt_packages/

# pytest

.pytest_cache/
__pycache__

# Dagster

.tmp_dagster_home*

# Native App

app/output/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate

.DS_Store
